body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    margin: 0; /* Eliminar márgenes */
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
}

.download-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 15px; /* Bordes más redondeados */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #0056b3;
}